/* Configurações Globais */

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: inline-block;
    background-color: rgb(30, 74, 112);
    width: 100%;
}

header img{
    height: 310px;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 500px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
    color: rgb(67, 212, 248);
}